# ===========================
# Frontend (Next.js)
# ===========================
playadda-frontend/.next/
playadda-frontend/node_modules/
playadda-frontend/.env
playadda-frontend/.env.local
playadda-frontend/.env.development.local
playadda-frontend/.env.test.local
playadda-frontend/.env.production.local
playadda-frontend/tsconfig.tsbuildinfo

# ===========================
# Backend (NestJS)
# ===========================
playadda-backend/node_modules/
playadda-backend/dist/
playadda-backend/.env

# ===========================
# General
# ===========================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
*.pem
.idea/
.vscode/settings.json
